// ALERTS

$alert-border-width 						: $border-width;
$alert-border-style 						: $border-style;
$alert-border-colour 						: $colour-border;
$alert-border-radius 						: $border-radius;
$alert-padding 									: $spacing / 2 $spacing / 2 $spacing / 2 $spacing * 2;