// PANELS

$panel-bg 											: $shades;
$panel-border-width 						: $border-width;
$panel-border-style 						: $border-style;
$panel-border-colour 						: $colour-border;
$panel-border-radius 						: $border-radius;
$panel-padding 									: $spacing / 2;