// VARIABLES - SITE SPECIFIC

$maxWidth: toRem(1200px);

$colour-a: hsl(210, 6%, 86%); 	// light gray
$colour-b: hsl(8, 6%, 75%); 		// gray
$colour-c: hsl(197, 36%, 80%); 	// light blue
$colour-d: hsl(120, 1%, 18%);   // very dark gray
$colour-e: hsl(13, 63%, 67%); 	// light red
$colour-f: hsl(352, 3%, 50%); 	// dark gray