// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : MODULES/HEADER/TAGLINE-ADDITIONAL - styles for tagline-additional

/* ==========================================================================
   TAGLINE-ADDITIONAL MODULE STYLES
   ========================================================================== */

.tagLineAdditional {
	display: inline-block;
	color: lighten($text-colour,10);
	padding-bottom: $spacing;
	border-bottom: 1px solid lighten($primary-colour,40);

		@media #{$bp-10} {
			margin-bottom: $spacing * 2;
		}
}