// IMPORTS - COMPONENTS

// component extends
%pseudos {
  display: block;
  content: ''; 
  position: absolute;
}

@import "site-header";
@import "site-nav";
@import "site-footer";
@import "logo";
@import "copyright";
@import "main";
@import "buttons";
@import "icons";




