/* ==========================================================================
   LAYOUT - HEADER
   ========================================================================== */

.l-header {
	background: colour(brand, b);
	@include cf;

		@include bp(10) {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			width: 20%;
		}
}