// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : VARS - all variable declerations

// VARIABLE DECLERATIONS

//contents

// base
// typography
// spacings
// colour
// texture
// forms
// panels
// navigation
// alerts
// modules
// misc
// media queries

// ------------------------------------------------------------------------------------------------------------------------//
// BASE 
// ------------------------------------------------------------------------------------------------------------------------//

$bg-body 												: hsl(0, 0%, 98%);
$text-colour 										: hsl(0, 0%, 44%);

// ------------------------------------------------------------------------------------------------------------------------//
// TYPOGRAPHY 
// ------------------------------------------------------------------------------------------------------------------------//

$base-font-family 							: 'Lato', sans-serif;
$base-font-size 								: 100%;
$base-line-height 							: 1.5;

$small-font 										: toRem(14px);
$large-font 										: toRem(18px);

// headings

$heading-font-family 						: inherit;

// ------------------------------------------------------------------------------------------------------------------------//
// SPACING
// ------------------------------------------------------------------------------------------------------------------------//

$gutter 												: toRem(24px);
$spacing  											: toRem(24px);
$full-width 										: 100%;

// ------------------------------------------------------------------------------------------------------------------------//
// COLOUR
// ------------------------------------------------------------------------------------------------------------------------//

$primary-colour 								: hsl(30, 100%, 47%);
$secondary-colour 							: hsl(0, 0%, 97%);

$black 													: hsl(0, 0%, 0%);
$white 													: hsl(0, 0%, 100%);

// link colours 

$link-colour 										: hsl(198, 41%, 56%);
$link-colour-hover 							: darken($link-colour,10);
$link-colour-visited 						: darken($link-colour-hover,10);
$link-colour-focus 							: darken($link-colour-visited,10);

// ------------------------------------------------------------------------------------------------------------------------//
// TEXTURE
// ------------------------------------------------------------------------------------------------------------------------//

$border-colour 									: hsl(0, 0%, 91%);
$border-width 									: 1px;
$border-style 									: solid;
$border-radius 									: 4px;

// ------------------------------------------------------------------------------------------------------------------------//
// PANELS
// ------------------------------------------------------------------------------------------------------------------------//

$panel-bg 											: $white;
$panel-border-width 						: $border-width;
$panel-border-style 						: $border-style;
$panel-border-colour 						: $border-colour;
$panel-border-radius 						: $border-radius;
$panel-padding 									: $spacing / 2;

// ------------------------------------------------------------------------------------------------------------------------//
// NAVIGAION
// ------------------------------------------------------------------------------------------------------------------------//

// sidebar

$sidebar-bg 										: hsl(40, 12%, 95%);
$sidebar-border 								: darken($sidebar-bg,5);
$sidebar-link-colour 						: hsl(0, 0%, 80%);

// navigation

$nav-border-width  							: $border-width;
$nav-border-style 							: $border-style;
$nav-border-colour 							: $border-colour;

//hover
$nav-link-hover-colour 					: $white;
$nav-link-divider-colour 				: lighten($sidebar-bg,60); 

// ------------------------------------------------------------------------------------------------------------------------//
// MISC
// ------------------------------------------------------------------------------------------------------------------------//

$transition-duration 						: 250ms;

// ------------------------------------------------------------------------------------------------------------------------//
// MEDIA QUERIES 
// ------------------------------------------------------------------------------------------------------------------------//

$bp05 													: toRem(600px);
$bp10 													: toRem(800px);
$bp15 													: toRem(1100px);
$bp20 													: toRem(1800px);

$bp-05 			  									: "only screen and (min-width:"#{$bp05}")";
$bp-10 			  									: "only screen and (min-width:"#{$bp10}")";
$bp-15 			  									: "only screen and (min-width:"#{$bp15}")";
$bp-20 			  									: "only screen and (min-width:"#{$bp20}")";


$max-width 											: toRem(1100px);
